<div class="container-fluid">
    <div class="row align-items-center justify-content-center">
        <div class="col-sm">
            <img src="lang-logo.png" class="img-fluid" />
            <div>Matthew Carlson</div>
        </div>
        <div class="col-sm">
            <img src="lang-logo.png" class="img-fluid" />
            <div>Taylor Lewis</div>
        </div>
        <div class="col-sm">
            <img src="lang-logo.png" class="img-fluid" />
            <div>Carson Bunker</div>
        </div>
        <div class="col-sm">
            <img src="lang-logo.png" class="img-fluid" />
            <div>Michael Carlson</div>
        </div>
        <div class="col-sm">
            <img src="lang-logo.png" class="img-fluid" />
            <div>Spencer Stucki</div>
        </div>
    </div>

</div>