<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="jumbotron text-center">
    <div class="container">
      <h2>An actual play story podcast based around Dungeons and Dragons</h2>
      <hr />
      <h3>5 Friends</h3>
      <% include ../partials/players.ejs %>
      <br />
      <h3>1 Adventure</h3>

    </div>
  </div>
  <div class="container text-center">
    <h2>Each episode we accept a job from listeners like you that is weaved into the fabric of the story.</h2>
    <br />
    <a class="btn btn-success btn-block" href="/post"><span class="glyphicon glyphicon-flash"></span> Post a new
      adventure</a>
    <br />
    <p>You can choose to set the rewards of your adventure, which can be real-life money. We won't take the reward until we finished your adventure!</p>

  </div>
  <div class="container">
      <h2>Past Episodes</h2>
      <p>List of episodes go here</p>
    </div>
    <div class="container">
        <h2>Announcements</h2>
        <p>List of episodes go here</p>
      </div>
  <div class="jumbotron text-center footer " id="footer">
    <div class="container">
      Information at the footer
    </div>
  </div>
</body>

</html>